html {
	background-color: white;
}

pre.shifted_log {
	margin-top: 75px;
	background-color: white;
}


#optlink{
	color: rgb(195, 211, 229);
	cursor: auto;
	display: inline;
	font-family: Avenir,sans-serif;
	font-size: 10px;
	font-weight: bold;
	height: auto;
	margin-left: 5px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-decoration: none;
	width: auto;
}

.graph_name{
	xcolor: white;
	color: #999;
	left: 0px;
	text-align: left;
	font-weight: bold;
	font-style: normal;
	font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;	
}

span.graph_name a {
	text-decoration: none;
	color: #999;
	border-bottom: 2px solid #000;
	padding-bottom: 3px;
	-webkit-transition: .2s;
	transition: .2s;		
}

span.graph_name a:hover {
	text-decoration: none;
	color: white;
	padding-bottom: 3px;
	border-bottom: 2px solid #999;
}

.graph_run_time{
	xcolor: white;
	color: #999;
	padding-left: 5px;
	left: 0px;

}

#cc_head {
	background-attachment: scroll;
	background-clip: border-box;
	xbackground-color: #39414d;
	background-color: #000000;
	background-origin: padding-box;
	background-size: auto;

	color: rgb(51, 51, 51);
	display: block;
	font-family: Avenir,sans-serif;
	font-size: 12px;
	height: 50px;
	width: 500px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-top: 1px;
	padding-bottom: 2px;
	position: fixed;
	right: 20px;
	top: 0px;
	z-index: 4998;
}

#cc_head_writers_box {
	background-color: #000000;
	background-origin: padding-box;
	background-size: auto;

	color: rgb(51, 51, 51);
	xdisplay: block;
	font-family: Avenir,sans-serif;
	font-size: 12px;
	min-height: 50px;
	max-height: 198px;
	resize: vertical;
	width: 500px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-top: 1px;
	padding-bottom: 0px;
	position: fixed;
	right: 20px;
	top: 73px;
	z-index: 4997;
	display: inline;
	overflow-y: scroll;
}

#cc_head_writers_box:hover{
	xmax-height: 90%;
	max-height: calc(100% - 90px);
	max-height: -webkit-calc(100% - 90px);
}


.cc_head_writers{
	display: table;
	border-spacing: 0px;
	padding-bottom: 5px;

}

.hidden{
	display: none;
}

#cc_head_writers_hider{
	width: 500px;
	height: 20px;
	font-family: Avenir,sans-serif;
	font-size: 13px;
	color: #999;
	z-index: 5000;
	position: fixed;
	right: 20px;
	top: 53px;
	text-align: center;
	border-top: 1px #777 dashed;
	cursor: hand;
}

#cc_head_writers_hider:hover {
	color: #fff;
	background-color: #777;
}

#cc_head_writers_hider.hider_open{
	background-color: #000;
}

#cc_head_writers_hider.hider_closed{
	background-color: #000;
}

#cc_head_writers_hider.hider_inactive, #cc_head_writers_hider.hider_inactive:hover{
	background-color: #000;
	color: #777;
	display: none;
}


tr.cc_head_writer{
	padding-top: 1px;
	padding-bottom: 1px;
	margin-top: 1px;
	margin-bottom: 0px;
	font-size: 12px;
	margin: 0em;
	background-color: #000;
}


tr.cc_head_writer:hover{
	background-color: #333;
}

tr.cc_head_writer_header td{
font-size: 10px;
font-style: normal;
font-variant: normal;
font-weight: normal;
outline-color: #999;
outline-style: none;
outline-width: 0px;
text-align: right;
text-transform: uppercase; 
color: #fff;
}

tr.cc_head_writer_header td.cc_writer_name{
	text-align: center;
}

.cc_head_writer_total {
	border-bottom: 1px solid #999;
	color: #999;
	font-weight: bold;
}

.cc_writer_name {
	color: #999;
	padding-left: 10px;
	width: 260px;
	xbackground-color: #000000;
	text-align: left;
}

.cc_writer_rows {
	color: #999;
	padding-left: 20px;
	width: 110px;
	xbackground-color: #000000;
	text-align: right;
}

.cc_writer_size {
	color: #999;
	padding-left: 20px;
	width: 90px;
	xbackground-color: #000000;
	text-align: right;
}

.cc_head_label {
	bottom: 2px;
	color: #999;
	cursor: pointer;
	font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	height: auto;
	xbackground-color: #39414d;
	xbackground-color: #000000;
	width: auto;
	padding-bottom: 4px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: relative;
	text-decoration: none;
	border-bottom: 3px solid #000;	
	
	-webkit-transition: .2s;
	transition: .2s;	
} 

.cc_head_label:hover{
	color: white;
	border-bottom: 3px solid #999;
}



.cc_head_links{
	display: inline-block;
	xtext-align: right;
	left: 0px;
	padding-top: 5px;
	width: 450px;
	xbackground-color: #39414d;
	background-color: #000000;	
}

.cc_head_link {
	color: #c2d3e4;
	text-decoration: none;
	font-size: 13px;
	cursor: auto;
	font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-weight: 300;
	xbackground-color: #39414d;
	background-color: #000000;
	text-decoration: none;
} 

.cc_head_link:visited {
	color: #c2d3e4;
	text-decoration: none;
	xbackground-color: #39414d;
	background-color: #000000;
} 

.cc_head_link:hover {
	color: white;
	text-decoration: none;
	xbackground-color: #39414d;
	background-color: #000000;
} 

.close{
	font-weight: 500;
	position: fixed;
	right: 30px;
	top: 5px;
	xbackground-color: #39414d;
	background-color: #000000;
	color: white;
}

a.goto_error:link, a.goto_error:visited, a.goto_error:hover{
	color: #FF6B6B;

	right: 120px;
	position: fixed;

	padding-left: 15px;
	font-weight: normal;
	font-style: italic;
	xbackground-color: #39414d;
	background-color: #000000;
}

a.goto_err_data:link, a.goto_err_data:visited, a.goto_err_data:hover{
	color: #FF8000;

	right: 190px;
	position: fixed;

	padding-left: 15px;
	font-weight: normal;
	font-style: italic;
	xbackground-color: #39414d;
	background-color: #000000;
}

a.goto_running:link, a.goto_running:visited, a.goto_running:hover{
	color: #b0b0b0;
	right: 120px;
	position: fixed;
	font-weight: normal;
	font-style: italic;
	xbackground-color: #39414d;
	background-color: #000000;
}

a.goto_success:link, a.goto_success:visited, a.goto_success:hover{
	color: #99FF99;
	right: 120px;
	position: fixed;
	font-weight: normal;
	font-style: italic;
	xbackground-color: #39414d;
	background-color: #000000;
}

a.run_refresh:link, a.run_refresh:visited, a.run_refresh:hover{
	color: #b0b0b0;
	position: fixed;
	right: 65px;
	padding-left: 5px;
	font-weight: normal;
	xbackground-color: #39414d;
	background-color: #000000;
	text-decoration: none;
}

#auto_refresh{
	position: fixed;
	right: 47px;
	top: 4px;
	padding-left: 5px;
}

.cc_head_labels{
	margin-top: 10px;
	xbackground-color: #39414d;
	background-color: #000000;

}

.gd_logo {

color: rgb(194, 211, 228);
cursor: auto;
display: inline;
xfont-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
font-family: Avenir,sans-serif;
font-size: 20px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: auto;
line-height: 53px;
text-decoration: none;
width: auto;

margin-left: 50px;
margin-right: 50px;
}

.gd_logo strong{
	color: white;
}






.logline {
	display: block;
	font-family: monospace;
	white-space: pre;
}

.FATAL {
	background-color: #FF0000;
	color: yellow;
	display: block;
}

.ERROR {
	background-color: #FF9EA0;
	color: black;
	display: block;
}

.WARN {
	background-color: #FFD07F;
	color: black;
	display: block;
}

.INFO {
	background-color: white;
	color: black;
	display: block;
}

.DEBUG {
	background-color: white;
	color: #689CD2;
	display: block;
}

.WatchDog:not(.ERROR) {
	background-color: white;
	color: #BBBBBB;
}

.cc_head_label_first{
 margin-left: 20px;
}

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: .7s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 2;
}

@-webkit-keyframes blinker {  
    0% { background-color: #000; color: #999;}
    50% { background-color: #999; color: #fff;}
    100% { background-color: #000; color: #999;}
}


.loader_on{
	display: block;
	background-image: url("https://secure.gooddata.com/images/icons/loading-16.gif");
	position: fixed;
	top: 5px;
	right: 2px;
	width: 16px;
	height: 16px;
}


.cc_writer_bar { 
	height: 10px;
	width: 50px;
	padding-left: 10px;
}


.cc_writer_bar > div {
	display: block;
	height: 40%;
	resize: none;


	position: relative;
	overflow: hidden;
}


.cc_writer_bar > div.cc_writer_bar_sizes{
	background-color: rgb(43,194,83);
	background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0, rgb(43,194,83)),
	  color-stop(1, rgb(84,240,84))
	 );
	background-image: -webkit-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	resize: none;
	padding-top: 2px
}


.cc_writer_bar > div.cc_writer_bar_rows{
	background-color: rgb(194,43,83);
	background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0, rgb(194,43,83)),
	  color-stop(1, rgb(240,84,84))
	 );
	background-image: -webkit-linear-gradient(
	  center bottom,
	  rgb(194,43,83) 37%,
	  rgb(240,84,84) 69%
	 );
	resize: none;
	padding-bottom: 2px
}
