 .gd4chrome_summary {

    border-collapse: separate;
    color: rgb(170, 170, 170);
    display: inline;
    font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
    font-size: 10px;
    margin-left: 10px;
    margin-right: 10px;    
    margin-bottom: 10px;

    border-bottom-color: rgb(153, 153, 153);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: block;
    padding-bottom: 7px;
    background: auto !important;
}

.gd4chrome_clickreload{
    font-weight: bold;
    color: rgb(255,100,100);

}

.gd4chrome_title{
color: rgb(255, 255, 255);
display: block;
font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
font-size: 18px;
font-weight: bold;
height: 23px;
margin-bottom: 2px;
margin-left: 10px;
margin-right: 0px;
margin-top: 3px;
padding-bottom: 1px;
padding-left: 0px;
padding-right: 10px;
padding-top: 0px;
background: auto !important;
overflow: hidden;
}

.gd4chrome_value a:link, .gd4chrome_value a:visited {
    color: rgb(0, 170, 255);
    text-decoration: none;
}

.gd4chrome_value a:hover {
    color: rgb(0, 170, 255);
    text-decoration: underline;
}

.gd4chrome_value_element {
    color: #f93 !important
}

.gd4chrome_value{
    border-collapse: separate;
    color: rgb(0, 170, 255);
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    xwidth: 290;
}

.gd4chrome_value_inline{
    color: rgb(0, 170, 255);
    font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.gd4chrome_tab{
    border: 1;
    width: 400px;
    margin-bottom: 10px
}

.gd4chrome_tooltip{
    border: 1;
    width: 500px;
    margin-bottom: 10px
}


.gd4chrome_col1 {
    margin-bottom: 2px;
    margin-right: 10px;
    padding-left: 10px;
    width: 130px;
    color: white;
    font-size: 13px;
    height: 16px;
    width: 120px;
}


.gd4chrome_col1 a:link, .gd4chrome_col1 a:visited {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

span.gd4chrome_this_schedule {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: normal;

}

.gd4chrome_etl_status_OK, a.gd4chrome_etl_status_OK:link, a.gd4chrome_etl_status_OK:visited, a.gd4chrome_etl_status_OK:hover{
    color: #99FF99;
    text-decoration: none;
}

.gd4chrome_etl_status_ERROR, a.gd4chrome_etl_status_ERROR:link, a.gd4chrome_etl_status_ERROR:visited, a.gd4chrome_etl_status_ERROR:hover{
    color: #FF6B6B;
}

.gd4chrome_etl_status_RUNNING, a.gd4chrome_etl_status_RUNNING:link, a.gd4chrome_etl_status_RUNNING:visited, a.gd4chrome_etl_status_RUNNING:hover{
    color: #b0b0b0;
}

.gd4chrome_etl_status_CANCELED, a.gd4chrome_etl_status_CANCELED:link, a.gd4chrome_etl_status_CANCELED:visited, a.gd4chrome_etl_status_CANCELED:hover{
    color: #ff9933;
}

.gd4chrome_etl_status_TIMEOUT, a.gd4chrome_etl_status_TIMEOUT:link, a.gd4chrome_etl_status_TIMEOUT:visited, a.gd4chrome_etl_status_TIMEOUT:hover{
    color: #d92ba8;
    #ff33cc;
}


a.gd4chrome_etl_status_OK:hover,a.gd4chrome_etl_status_ERROR:hover,a.gd4chrome_etl_status_RUNNING:hover,a.gd4chrome_etl_status_CANCELED:hover. a.gd4chrome_etl_status_TIMEOUT:hover {
    text-decoration: underline;
}


.gd4chrome_close{
    color: rgb(238, 238, 238);
    cursor: pointer;
    display: block;
    float: right;
    font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 5px;
    vertical-align: top;
    text-decoration: none;
    font-weight: 500;
}



#gd4chrome_overlay{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(0, 0, 0);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    x_border-bottom-left-radius: 15px;
    x_border-bottom-right-radius: 15px;
    x_border-top-left-radius: 15px;
    x_border-top-right-radius: 15px;
    color: rgb(255, 255, 255);
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
    font-size: 13px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;

    width:400px;
    display:block;
    position:fixed! important; 
    z-index:21000;
    top:70px;
    right:20px;

    padding: 5px 5px 5px 5px;
    color: white;
    background: #333;
    background: rgb(0,0,0);
    border-radius: 5px;
    font-size: 110%;
  }

  .gd4chrome_close {
    left: -5px;
  }


#gd4chrome_tooltip{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(0, 0, 0);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    x_border-bottom-left-radius: 15px;
    x_border-bottom-right-radius: 15px;
    x_border-top-left-radius: 15px;
    x_border-top-right-radius: 15px;
    color: rgb(255, 255, 255);
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
    font-size: 13px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;

    width:500px;
    display:block;
    position:fixed! important; 
    z-index:22000;
    top:70px;
    right:20px;

    padding: 5px 5px 5px 5px;
    color: white;
    background: #333;
    background: rgb(0,0,0);
    border-radius: 5px;
    font-size: 110%;
  }

   .gd4chrome_tooltip_line {

    border-collapse: separate;
    color: rgb(170, 170, 170);
    display: inline;
    font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;    
    margin-bottom: 2px;

    display: block;
    padding-bottom: 2px;
    background: auto !important;
}