html {
	background-color: white;
}

pre.shifted_log {
	margin-top: 75px;
	background-color: white;
}

#cc_head_under1{
	width: 250px;
	height: 20px;
	font-family: Avenir,sans-serif;
	font-size: 13px;
	color: #777;
	z-index: 3000;
	position: fixed;
	right: 269px;
	top: 53px;
	text-align: center;
	border-top: 1px #777 dashed;
	border-left: 1px #777 dashed;
	z-index: 4000;
	background-color: #000;
}
#cc_head_under2{
	width: 249px;
	height: 20px;
	font-family: Avenir,sans-serif;
	font-size: 13px;
	color: #777;
	z-index: 3000;
	position: fixed;
	right: 20px;
	top: 53px;
	text-align: center;
	border-top: 1px #777 dashed;
	border-left: 1px #777 dashed;
	z-index: 4000;
	background-color: #000;
}


#cc_head_phases_hider{
	width: 249px;
	height: 20px;
	font-family: Avenir,sans-serif;
	font-size: 13px;
	color: #999;
	z-index: 3000;
	position: fixed;
	right: 271px;
	top: 54px;
	text-align: center;
	cursor: hand;
	z-index: 5001;
    -webkit-touch-callout: none;
    -webkit-user-select: none;	
	xborder-bottom: 1px #777 dashed;	    
}


#cc_head_phases_box {
	background-color: #000000;
	background-origin: padding-box;
	background-size: auto;

	color: rgb(51, 51, 51);
	xdisplay: block;
	font-family: Avenir,sans-serif;
	font-size: 12px;
	min-height: 50px;
	max-height: 198px;
	resize: vertical;
	width: 500px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	position: fixed;
	right: 20px;
	top: 73px;
	z-index: 4997;
	display: inline;
	overflow-y: scroll;
}

#cc_head_phases_box:hover{
	xmax-height: 90%;
	max-height: calc(100% - 90px);
	max-height: -webkit-calc(100% - 90px);
}


.cc_head_phases{
	display: table;
	border-spacing: 0px;
	padding-bottom: 5px;
	max-width: 500px;

}

#cc_head_phases_hider:hover {
	color: #fff;
	background-color: #777;
}

#cc_head_phases_hider.hider_clicked, #cc_head_writers_hider.hider_clicked{
	xwidth: 500;
	xright: 20px;
	xz-index: 5005;
	xbackground-color: silver;
	xborder-bottom: 1px #000 dashed;
}


#cc_head_phases_hider.hider_open_other, #cc_head_writers_hider.hider_open_other{
	border-bottom: 1px #777 dashed;
}


tr.cc_head_phase{
	padding-top: 1px;
	padding-bottom: 1px;
	margin-top: 1px;
	margin-bottom: 0px;
	font-size: 12px;
	margin: 0em;
	background-color: #000;
	max-width: 500px;
}


tr.cc_head_phase:hover{
	background-color: #333;
}

tr.cc_head_phase_header td{
font-size: 10px;
font-style: normal;
font-variant: normal;
font-weight: normal;
outline-color: #999;
outline-style: none;
outline-width: 0px;
text-align: right;
text-transform: uppercase; 
color: #fff;
max-width: 500px;
}

tr.cc_head_phase_header td.cc_phase_name{
	text-align: center;
}

.cc_head_phase_total {
	border-bottom: 1px solid #999;
	color: #999;
	font-weight: bold;
}

.cc_head_phase_total .cc_phase_name{
	padding-left: 20px;
}


.cc_phase_name,.cc_phase_name a, .cc_phase_name a:visited {
	color: #999;
	width: 70px;
	xbackground-color: #000000;
	text-align: left;
	text-decoration: none;
	padding-left: 10px;	
}

.cc_phase_name a:hover {
	text-decoration: underline;
}

.cc_phase_timeline {
	color: #999;
	padding-left: 1px;
	width: 290px;
	xbackground-color: #000000;
	text-align: left;
}

.cc_phase_duration {
	color: #999;
	padding-left: 2px;
	width: 80px;
	xbackground-color: #000000;
	text-align: right;
}

.cc_phase_duration_sql {
	color: #999;
	padding-left: 2px;
	width: 40px;
	xbackground-color: #000000;
	text-align: right;
}

.cc_phase_timeline_sql {
	color: #999;
	padding-left: 1px;
	width: 200px;
	xbackground-color: #000000;
	text-align: left;
}

.cc_phase_name_sql, .cc_phase_name_sql a, .cc_phase_name_sql a:visited {
	color: #999;
	width: 190px;
	xbackground-color: #000000;
	text-align: left;
	text-decoration: none;
	padding-left: 10px;	
}

.cc_phase_name_PLANNED, .cc_phase_name_PLANNED a, .cc_phase_name_PLANNED {
	color: #666;
}

.cc_phase_name_RUNNING, .cc_phase_name_RUNNING a, .cc_phase_name_RUNNING {
	color: #FFF;
}

.cc_phase_name_OK, .cc_phase_name_OK a, .cc_phase_name_OK {
	color: #999;
}

.cc_phase_name_ERROR, .cc_phase_name_ERROR a, .cc_phase_name_ERROR {
	color: #F55;
}


.cc_phase_bar { 
	height: 10px;
	width: 50px;
	padding-left: 10px;
}

.cc_phase_bar_sql { 
	height: 10px;
	width: 30px;
	padding-left: 5px;
}


.cc_phase_bar > div, .cc_phase_bar_sql > div {
	display: block;
	height: 40%;
	resize: none;


	position: relative;
	overflow: hidden;
}


.cc_phase_bar > div.cc_phase_bar_durations, .cc_phase_bar_sql > div.cc_phase_bar_durations{
	background-color: #4680BA;
	background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0, #4680BA),
	  color-stop(1, #7db9e8)
	 );
	background-image: -webkit-linear-gradient(
	  center bottom,
	  #4680BA 37%,
	  #7db9e8 69%
	 );
	resize: none;
	padding-top: 2px
}

div.cc_phase_bar_timeline{
	xbackground-color: #fe5799;
	xbackground-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0, #fe5799),
	  color-stop(1, #fdb9e8)
	 );
	xbackground-image: -webkit-linear-gradient(
	  center bottom,
	  #fe5799 37%,
	  #fdb9e8 69%
	 );
	resize: none;
	margin-top: 1px;
	margin-bottom: 1px;
	height: 8px;
	
	position:relative;
		top:0px;
}

div.cc_phase_bar_timeline_OK{
	background-color: #99FF99;
}

div.cc_phase_bar_timeline_RUNNING{
	background-color: #b0b0b0;
	xbackground-color: #5CC8F2;
}

div.cc_phase_bar_timeline_ERROR{
	background-color: #FF6B6B;
}

div.cc_phase_bar_timeline_NOTOP{
	opacity: 0.6;
}


.cc_phase_bar > div.cc_phase_bar_durations_NOTOP{
	opacity: 0.6;
}

---------------------


#optlink{
	color: rgb(195, 211, 229);
	cursor: auto;
	display: inline;
	font-family: Avenir,sans-serif;
	font-size: 10px;
	font-weight: bold;
	height: auto;
	margin-left: 5px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-decoration: none;
	width: auto;
}

.graph_name{
	xcolor: white;
	color: #999;
	left: 0px;
	text-align: left;
	font-weight: bold;
	font-style: normal;
	font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;	
}

span.graph_name a {
	text-decoration: none;
	color: #999;
	border-bottom: 2px solid #000;
	padding-bottom: 3px;
	-webkit-transition: .2s;
	transition: .2s;		
}

span.graph_name a:hover {
	text-decoration: none;
	color: white;
	padding-bottom: 3px;
	border-bottom: 2px solid #999;
}

.graph_run_time{
	xcolor: white;
	color: #999;
	padding-left: 5px;
	left: 0px;

}

#cc_head {
	background-attachment: scroll;
	background-clip: border-box;
	xbackground-color: #39414d;
	background-color: #000000;
	background-origin: padding-box;
	background-size: auto;

	color: rgb(51, 51, 51);
	display: block;
	font-family: Avenir,sans-serif;
	font-size: 12px;
	height: 50px;
	width: 500px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-top: 1px;
	padding-bottom: 2px;
	position: fixed;
	right: 20px;
	top: 0px;
	z-index: 4998;
}

#cc_head_writers_box {
	background-color: #000000;
	background-origin: padding-box;
	background-size: auto;

	color: rgb(51, 51, 51);
	xdisplay: block;
	font-family: Avenir,sans-serif;
	font-size: 12px;
	min-height: 50px;
	max-height: 198px;
	resize: vertical;
	width: 500px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	position: fixed;
	right: 20px;
	top: 73px;
	z-index: 4997;
	display: inline;
	overflow-y: scroll;
}

#cc_head_writers_box:hover{
	xmax-height: 90%;
	max-height: calc(100% - 90px);
	max-height: -webkit-calc(100% - 90px);
}


.cc_head_writers{
	display: table;
	border-spacing: 0px;
	padding-bottom: 5px;

}

.hidden{
	display: none;
}

#cc_head_writers_hider{
	width: 249px;
	height: 20px;
	font-family: Avenir,sans-serif;
	font-size: 13px;
	color: #999;
	z-index: 5000;
	position: fixed;
	right: 20px;
	top: 54px;
	text-align: center;
	cursor: hand;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
	xborder-bottom: 1px #777 dashed;	    
}

#cc_head_writers_hider:hover {
	color: #fff;
	background-color: #777;
}

#cc_head_writers_hider.hider_open, #cc_head_phases_hider.hider_open {
	background-color: #000;
	xborder-bottom: 1px #777 dashed;	
}

#cc_head_writers_hider.hider_closed, #cc_head_phases_hider.hider_closed{
	background-color: #000;
	xborder-bottom: 1px #000 dashed;		
}

#cc_head_writers_hider.hider_inactive, #cc_head_writers_hider.hider_inactive:hover, #cc_head_phases_hider.hider_inactive, #cc_head_phases_hider.hider_inactive:hover{
	background-color: #000;
	color: #777;
	xdisplay: none;
	pointer-events: none;
	xborder-bottom: 1px #777 dashed;		
}

#cc_head_writers_hider.visible, #cc_head_phases_hider.visible, #cc_head_writers_hider.visible:hover, #cc_head_phases_hider.visible:hover{
	display: block;
}


tr.cc_head_writer, tr.cc_head_writer_del{
	padding-top: 1px;
	padding-bottom: 1px;
	margin-top: 1px;
	margin-bottom: 0px;
	font-size: 12px;
	margin: 0em;
	background-color: #000;
	height: 16px !important;
	line-height: 16px !important;
	max-height: 16px !important;
}

tr.cc_head_writer_del{
	height: 16px !important;
	line-height: 16px !important;
	max-height: 16px !important;
	font-size: 12px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;	
}

tr.cc_head_writer:hover, tr.cc_head_writer_del:hover{
	background-color: #333;
}

tr.cc_head_writer_header td{
font-size: 10px;
font-style: normal;
font-variant: normal;
font-weight: normal;
outline-color: #999;
outline-style: none;
outline-width: 0px;
text-align: right;
text-transform: uppercase; 
color: #fff;
}

tr.cc_head_writer_header td.cc_writer_name{
	text-align: center;
	overflow: none;
}

.cc_head_writer_total {
	border-bottom: 1px solid #999;
	color: #999;
	font-weight: bold;
}

.cc_writer_name {
	color: #999;
	padding-left: 10px;
	width: 250px;
	xbackground-color: #000000;
	text-align: left;
}

.cc_writer_rows {
	color: #999;
	padding-left: 5px;
	width: 90px;
	xbackground-color: #000000;
	text-align: right;
}

.cc_writer_size {
	color: #999;
	padding-left: 5px;
	width: 120px;
	xbackground-color: #000000;
	text-align: right;
}

.cc_writer_sli {
	color: #999;
	padding-left: 5px;
	width: 70px;
	xbackground-color: #000000;
	text-align: right;
}

.cc_writer_sli_batch {
	color: #99FF99;
	padding-left: 5px;
	width: 70px;
	xbackground-color: #000000;
	text-align: right;
}

.add_delete {
	color: #777;
	max-height: 16px !important;
}


/*



-------------------------*/

.cc_head_label {
	bottom: 2px;
	color: #999;
	cursor: pointer;
	font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	height: auto;
	xbackground-color: #39414d;
	xbackground-color: #000000;
	width: auto;
	padding-bottom: 4px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: relative;
	text-decoration: none;
	border-bottom: 3px solid #000;	
	
	-webkit-transition: .2s;
	transition: .2s;	
} 

label.cc_head_label {
	color rgb(153, 153, 153);
}

.cc_head_label:hover{
	color: white;
	border-bottom: 3px solid #999;
}



.cc_head_links{
	display: inline-block;
	xtext-align: right;
	left: 0px;
	padding-top: 5px;
	width: 450px;
	xbackground-color: #39414d;
	background-color: #000000;	
}

.cc_head_link {
	color: #c2d3e4;
	text-decoration: none;
	font-size: 13px;
	cursor: auto;
	font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-weight: 300;
	xbackground-color: #39414d;
	background-color: #000000;
	text-decoration: none;
} 

.cc_head_link:visited {
	color: #c2d3e4;
	text-decoration: none;
	xbackground-color: #39414d;
	background-color: #000000;
} 

.cc_head_link:hover {
	color: white;
	text-decoration: none;
	xbackground-color: #39414d;
	background-color: #000000;
} 

.close{
	font-weight: 500;
	position: fixed;
	right: 30px;
	top: 5px;
	xbackground-color: #39414d;
	background-color: #000000;
	color: white;
}

a.goto_error:link, a.goto_error:visited, a.goto_error:hover{
	color: #FF6B6B;

	right: 120px;
	position: fixed;

	padding-left: 15px;
	font-weight: normal;
	font-style: italic;
	xbackground-color: #39414d;
	background-color: #000000;
}

a.goto_err_data:link, a.goto_err_data:visited, a.goto_err_data:hover{
	color: #FF8000;

	right: 210px;
	position: fixed;

	padding-left: 15px;
	font-weight: normal;
	font-style: italic;
	xbackground-color: #39414d;
	background-color: #000000;
}

a.goto_running:link, a.goto_running:visited, a.goto_running:hover{
	color: #b0b0b0;
	xcolor: #5CC8F2;
	right: 120px;
	position: fixed;
	font-weight: normal;
	font-style: italic;
	xbackground-color: #39414d;
	background-color: #000000;
}

a.goto_success:link, a.goto_success:visited, a.goto_success:hover{
	color: #99FF99;
	right: 120px;
	position: fixed;
	font-weight: normal;
	font-style: italic;
	xbackground-color: #39414d;
	background-color: #000000;
}

a.run_refresh:link, a.run_refresh:visited, a.run_refresh:hover{
	color: #b0b0b0;
	position: fixed;
	right: 65px;
	padding-left: 5px;
	font-weight: normal;
	xbackground-color: #39414d;
	background-color: #000000;
	text-decoration: none;
}

#auto_refresh{
	position: fixed;
	right: 47px;
	top: 4px;
	padding-left: 5px;
}

.cc_head_labels{
	margin-top: 10px;
	xbackground-color: #39414d;
	background-color: #000000;

}

.gd_logo {

color: rgb(194, 211, 228);
cursor: auto;
display: inline;
xfont-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
font-family: Avenir,sans-serif;
font-size: 20px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: auto;
line-height: 53px;
text-decoration: none;
width: auto;

margin-left: 50px;
margin-right: 50px;
}

.gd_logo strong{
	color: white;
}






.logline {
	display: block;
	font-family: monospace;
	white-space: pre-wrap;
}

.FATAL {
	background-color: #FF0000;
	color: yellow;
	display: block;
}

.WARN {
	background-color: #FFD07F;
	color: black;
	display: block;
}

.INFO {
	background-color: white;
	color: black;
	display: block;
}

.DEBUG {
	background-color: white;
	color: #689CD2;
	display: block;
}

.WatchDog:not(.ERROR) {
	background-color: white;
	color: #BBBBBB;
}

.ERROR {
	background-color: #FF9EA0 !important;
	color: black;
	display: block;
}


.cc_head_label_first{
 margin-left: 20px;
}

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: .7s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 2;
}

@-webkit-keyframes blinker {  
    0% { background-color: #000; color: #999;}
    50% { background-color: #999; color: #fff;}
    100% { background-color: #000; color: #999;}
}


.loader_on{
	display: block;
	background-image: url("https://secure.gooddata.com/images/icons/loading-16.gif");
	position: fixed;
	top: 5px;
	right: 2px;
	width: 16px;
	height: 16px;
}


.cc_writer_bar { 
	height: 10px;
	width: 30px;
	padding-left: 10px;
}


.cc_writer_bar > div {
	display: block;
	height: 40%;
	resize: none;


	position: relative;
	overflow: hidden;
}


.cc_writer_bar > div.cc_writer_bar_sizes{
	background-color: rgb(43,194,83);
	background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0, rgb(43,194,83)),
	  color-stop(1, rgb(84,240,84))
	 );
	background-image: -webkit-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	resize: none;
	padding-top: 2px
}


.cc_writer_bar > div.cc_writer_bar_rows{
	background-color: rgb(194,43,83);
	background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0, rgb(194,43,83)),
	  color-stop(1, rgb(240,84,84))
	 );
	background-image: -webkit-linear-gradient(
	  center bottom,
	  rgb(194,43,83) 37%,
	  rgb(240,84,84) 69%
	 );
	resize: none;
	padding-bottom: 2px
}

.add_delete_bar{
	opacity: 0.4;
}


.btn {
  -webkit-user-select: none;
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 16px;
  font-family: Arial;
  color: #ffffff;
  font-size: 9px;
  padding: 2px;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 0px;
  margin-right: 1px;
  text-decoration: none;
}

.btn_last {
	margin-right: 5px;
}

.btn_f {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  padding-left: 3px;
  padding-right: 2px;  
}

.btn_i {
  background: #329419;
  background-image: -webkit-linear-gradient(top, #329419, #26801e);
  background-image: -moz-linear-gradient(top, #329419, #26801e);
  background-image: -ms-linear-gradient(top, #329419, #26801e);
  background-image: -o-linear-gradient(top, #329419, #26801e);
  background-image: linear-gradient(to bottom, #329419, #26801e);
  padding-left: 4px;
  padding-right: 4px;
}

.btn_d {
  background: #990099;
  background-image: -webkit-linear-gradient(top, #990099, #660066);
  background-image: -moz-linear-gradient(top, #990099, #660066);
  background-image: -ms-linear-gradient(top, #990099, #660066);
  background-image: -o-linear-gradient(top, #990099, #660066);
  background-image: linear-gradient(to bottom, #990099, #660066);
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 1px;
}

.btn_xx {
  background: #d93434;
  background-image: -webkit-linear-gradient(top, #d93434, #b82c2c);
  background-image: -moz-linear-gradient(top, #d93434, #b82c2c);
  background-image: -ms-linear-gradient(top, #d93434, #b82c2c);
  background-image: -o-linear-gradient(top, #d93434, #b82c2c);
  background-image: linear-gradient(to bottom, #d93434, #b82c2c);
  padding-left: 5px;
  padding-right: 5px;  
}

.btn_x {
  background: #909090;
  background-image: -webkit-linear-gradient(top, #909090, #707070);
  background-image: -moz-linear-gradient(top, #909090, #707070);
  background-image: -ms-linear-gradient(top, #909090, #707070);
  background-image: -o-linear-gradient(top, #909090, #707070);
  background-image: linear-gradient(to bottom, #909090, #707070);
  padding-left: 2px;
  padding-right: 2px;  
}

.btn_all{
  background: #d95534;
  background-image: -webkit-linear-gradient(top, #d95534, #b84d2c);
  background-image: -moz-linear-gradient(top, #d95534, #b84d2c);
  background-image: -ms-linear-gradient(top, #d95534, #b84d2c);
  background-image: -o-linear-gradient(top, #d95534, #b84d2c);
  background-image: linear-gradient(to bottom, #d95534, #b84d2c);
}
.btn_id {
  background: #329419;
  background-image: -webkit-linear-gradient(top, #329419, #26801e);
  background-image: -moz-linear-gradient(top, #329419, #26801e);
  background-image: -ms-linear-gradient(top, #329419, #26801e);
  background-image: -o-linear-gradient(top, #329419, #26801e);
  background-image: linear-gradient(to bottom, #329419, #26801e);
  padding-left: 3px;
  padding-right: 3px;  
}

.btn_nnd {
  background: #919191;
  background-image: -webkit-linear-gradient(top, #919191, #4d4d4d);
  background-image: -moz-linear-gradient(top, #919191, #4d4d4d);
  background-image: -ms-linear-gradient(top, #919191, #4d4d4d);
  background-image: -o-linear-gradient(top, #919191, #4d4d4d);
  background-image: linear-gradient(to bottom, #919191, #4d4d4d);
}

.inviscopy { 

  display: inline-block !important;
  width: 1px !important;
  padding-left: 0px !important;
  border: none !important;
  overflow:hidden !important;
  font-size: 1px;
  text-overflow:clip !important;
  height: 10px !important;
  max-height: 10px !important;
  line-height: 10px !important;
}