html {
            background-color: #eee;
            font-size: 12px;
        }

        pre {
            line-height: 130%;
        }
        body {
            font-family: monospace;
            font-size: 12px;
        }

        html body div.form {
            padding: 3px;
            background-color: #ddd;
            border: 1px solid #999;
            margin-bottom: 10px;
        }

        body form div.fields {
            padding : 3px;
            margin: 3px;
            float:left;
        }

        body form div.fields fieldset {
            border: 1px solid black;
        }

        span.detail {
            font-size: 90%;
        }

        body form div.submit {
            padding : 3px;
            clear:both;
        }
