::-webkit-scrollbar { 
    display: none; 
}


body {
  font-family: Avenir,sans-serif;
  font-size: 12px;
  margin: 0px;
  background-color: #000000;
  text-decoration: none;
  text-align: center;
}

input {
  background-color: #000000;
  color: white;
  border: 1px #000 solid;
}

input:focus {
  background-color: #000000;
  color: white;
  border: 1px white solid;
}

.unknown_text{
  color: white;
  padding-bottom: 3px;
  font-family: Avenir,sans-serif;
  xborder-bottom: 3px solid #000;
  text-decoration: none;
  font-size: 14px;
  line-height: 25px;
}

#add_hostname_status{
  font-family: Avenir,sans-serif;
  font-size: 10px;
  xcolor: rgb(0, 170, 255);
  color: #999;
}

#hostname {
  font-size: 14px;
  color: white;
  xborder-bottom:3px solid #999;
  text-align: center;
  font-weight: bold;
}

div {
  outline: 0;
}

#navigation {
white-space: nowrap;
display: inline;
}

#navigation a {
padding-bottom: 3px;
font-family: Avenir,sans-serif;
xborder-bottom: 3px solid #000;
color: #999;
text-decoration: none;
font-size: 12px;
line-height: 25px;
padding-left: 3px;
padding-right: 3px;
padding-top: 10px;
-webkit-transition: .2s;
transition: .2s;
xmargin-top:  30px;

}

#navigation a:hover, .options a:hover{
color: white;
}
#navigation a:hover {
  xborder-bottom:3px solid #999;
}

#xadd_hostname{
  background: transparent;
  color: white;
  border: 2px #999 solid;
  width: 150px;
  xoutline: none;
  padding: 7px;
  margin: 7px;
  font-weight: bold;
}

#xadd_hostname:hover {
  background: transparent;
  color: white;
  border: 2px white solid;
}

#add_hostname{
  background: rgb(16, 152, 217) !important;
  height: 38px!important;
  padding: 10px 35px!important;
  box-shadow: 1px 1px 0 rgba(20,56,93,.09);
  font-weight: 700;
  border: 1px solid rgba(0,0,0,.1) !important;
  color: #fff;  
  border-radius: 3px;  
  font: 400 14px/20px Avenir,"Helvetica Neue",Arial,sans-serif;  
  text-shadow: none;  
  cursor: pointer;
    margin-top: 20px;
    vertical-align: middle;
    font-size: 14px!important;
    line-height: 18px!important;
    display: inline-block;
    outline: 0;
    box-sizing: border-box;
    text-rendering: auto;
    -webkit-writing-mode: horizontal-tb !important;
    -webkit-appearance: button;
    -webkit-font-smoothing: subpixel-antialiased;
    border: none;
    background: 0 0;
}

#add_hostname:hover {
  background: rgb(15,132,189) !important;
}




.footer {
position: absolute;
top: 60px;
left: 400px;
border: 0;
font-size: 11px;
padding: 0;
color: #69707C;
text-decoration: none;
}

a {
text-decoration: none;
}

.gd4chrome_close {
  font-weight: 500;
}

.gddomain{
  marin-top: 5px;
  color: white;
  font-family: Avenir,sans-serif;
  font-size: 10px;
  background-color: #000000;
  text-decoration: none;
  text-align: center;
}

#gddomain{
  font-size: 9px;
}


.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: .7s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 3;
}

@-webkit-keyframes blinker {  
    0% { background-color: #000; color: #999;}
    50% { background-color: #999; color: #fff;}
    100% { background-color: #000; color: #999;}
}





.logoButton {
background: url("logo_new@1x.png") no-repeat 0 0;
float: left;
margin-left: 8px;
margin-right: -5px;
margin-top: 5px;
margin-bottom: 5px;

width: 15px;
height: 15px;

}

.logoText {
  display: inline-block;
  padding-left: 0px !important;

}

/*CSS for serving the retina image to devices with a high "device-pixel-ratio":*/
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
.logoButton{
    background-image: url("logo_new@2x.png");
    background-size: 15px 15px;
  }
}

.appHeader .logoButton:hover {
  opacity:.6;
}